body{
    background-color: rgb(249, 197, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.question{
    font-size: 40px;
}

.smallText{
    font-size: 15px;
}

button{
    margin: 20px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.yes, .naur{
    background-color: rgb(197, 207, 244);
}
.yes:hover{
    background-color: rgb(203, 247, 247);
}

.naur{
    font-size: 20px;
}

.no{
    background-color: palevioletred;
    display: block;
    position: absolute;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 900px;
    height: 500px;
}

.yay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 700px;
    height: 500px;
}

.back{
    font-size: 10px;
    height: 25px;
    width: 70px;
    color: white;
    background-color: black;
}
.back:hover{
    font-size: 10px;
    height: 25px;
    width: 70px;
    color: black;
    background-color: palegoldenrod;
}
